* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: monospace;
  font-weight: 30px;
}
.container {
  margin: 100px auto;
}
.calc {
  padding: 20px;
  margin: auto;
  width: 300px;
  height: 500px;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 4px -4px 4px #555454;
}
.buttons {
  display: grid;
  grid-template-areas:
    "divisions ac plus-minus percent"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
  gap: 15px;
  justify-items: center;
}
.calc__screen {
  height: 125px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
}
.calc__screen p {
  font-family: sans-serif;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 20px;
}
.btn {
  width: 50px;
  height: 50px;
  background-color: #333;
  line-height: 48px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}
.btn.zero {
  grid-area: zero;
  width: 100%;
  border-radius: 34px;
}

.btn:hover {
  filter: brightness(190%);
}
.btn:active {
  filter: brightness(90%);
}
.btn.bg-grey {
  background: #a6a6a6;
}
.btn.bg-grey:hover {
  color: rgb(67, 65, 65);
}
.btn.bg-orange {
  background: #ff9501;
}
